openapi: 3.1.1

info:
  title: Blobber API
  version: 0.0.1
  description: API for universal blob storage and retrieval.

servers:
  - url: "http://localhost:8080"
    description: Local development server
  - url: "https://blobber-cq93.onrender.com"
    description: staging server

# tags are used to group related endpoints
tags:
  - name: blob
    description: Operations related to blob storage and retrieval.
  - name: health
    description: Health check operations.

paths:
  /healthz:
    get:
      tags:
        - health
      summary: Health Check
      description: Check the health status of the Blobber service.
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SuccessJsonResponse"
        "500":
          description: Service is unhealthy
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorJsonResponse"
  /readyz:
    get:
      tags:
        - health
      summary: Readiness Check
      description: Check if the Blobber service is ready to accept requests.
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SuccessJsonResponse"
        "503":
          description: Service is not ready
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorJsonResponse"

components:
  schemas:
    SuccessJsonResponse:
      type: object
      properties:
        success:
          type: bool
          example: true
        message:
          type: string
          example: "Operation completed successfully."
    ErrorJsonResponse:
      type: object
      properties:
        success:
          type: bool
          example: false
        error:
          type: bool
          example: false
        message:
          type: string
          example: "Detailed error message goes here."
